# Force Linguist to detect only Java files
*.java linguist-language=Java

# Ignore non-source files from stats
*.css linguist-vendored
*.html linguist-vendored
*.iml linguist-generated
.idea/* linguist-generated
