# Compiled class files
*.class

# Log files
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Virtual machine crash logs
hs_err_pid*
replay_pid*

# Package archives
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# IntelliJ IDEA
*.iml
.idea/
out/

# VS Code (caso use em paralelo)
.vscode/

# Maven
target/

# Gradle
.gradle/
build/

# Eclipse
.project
.classpath
.c9/
.settings/
bin/

# NetBeans
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

# macOS
.DS_Store

# Windows
Thumbs.db
desktop.ini
